@using Competitions.Common.Helpers
@model Competitions.Domain.Dtos.Matches.Festivals.CreateFestivalDto


@{
    Layout = "_AdminLayout";
}


@section Styles{
    <link href="~/lib/persian-date/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/custom.input.css" rel="stylesheet" />
    <style>
        #end-validation,
        #start-validation{
            display:none;
        }

        #filebtn {
            border: dotted 1px #006ab1;
            color: #006ab1;
            background-color: #e7f5ff;
        }
    </style>
}


    <form method="post" enctype="multipart/form-data">

        <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
            <h3 class="mb-4 mb-lg-0">افزودن جشنواره</h3>
        </div>
        <section class="card shadow-sm ">
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label class="form-label">عنوان:</label>
                    <input type="text" asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3 col-md-4 pr-5">
                    <label class="form-label">شروع:</label>
                    @{
                    string start = Model.Start != default ? Model.Start.ToShamsi() : "";
                }
                <input id="start" name="Start" value="@start" width="100%" class="form-control" />
                <span class="text-danger" id="start-validation">تاریخ شروع جشنواره را وارد کنید</span>
            </div>
            <div class="mb-3 col-md-4 pr-5">
                <label class="form-label">پایان:</label>
                @{
                    string end = Model.End != default ? Model.End.ToShamsi() : "";
                }
                <input id="end" name="End" value="@end" width="100%" class="form-control" />
                <span class="text-danger" id="end-validation">تاریخ پایان جشنواره را وارد کنید</span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">شرح:</label>
            <textarea class="form-control" asp-for="Description" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="mb-3">
            <input asp-for="Image" accept="image/*" type="file" onchange="$('#filebtn').html(this.value);" id="uploadbox" hidden />
            <button type="button" id="filebtn" onclick="$('#uploadbox').click()" class="form-control">انتخاب عکس</button>
        </div>
    </section>

    <div class="mt-3 text-center d-flex justify-content-center align-items-center">
        <button onclick="return validateInput();" class="btn btn--submit mx-3 px-3">
            ثبت
        </button>
        <button type="button" onclick="history.back()" class="btn btn-secondary d-flex align-items-center">
            <i class="fas fa-reply my-1 mx-2"></i>
        </button>
    </div>

</form>



@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/persian-date/jquery-1.9.1.min.js"></script>
    <script src="~/lib/persian-date/jquery.min.js"></script>
    <script src="~/lib/persian-date/JalaliDate.js"></script>
    <script src="~/lib/persian-date/kendo.web.js"></script>
    <script src="~/lib/persian-date/fa-IR.js"></script>
    <script>

        // persian DateTime
        $(document).ready(function () {
            $("#start").kendoDatePicker();
            $("#end").kendoDatePicker();
        });

        function validateInput() {
            if (document.getElementById("uploadbox").value == "") {
                swal({
                    title: `هشدار!`,
                    text: "عکس را وارد کنید",
                    type: "error",
                    cancelButtonText: "بازگشت"
                })
                return false;
            }

            if(!document.getElementById("start").value){
                document.getElementById("start-validation").setAttribute("style" , "display:initial");
                return false;
            }
            document.getElementById("start-validation").setAttribute("style", "display:none");


            if(!document.getElementById("end").value){
                document.getElementById("end-validation").setAttribute("style" , "display:initial");
                return false;
            }
            document.getElementById("end-validation").setAttribute("style", "display:none");

            return true;
        }
    </script>
}

