@model IEnumerable<Competitions.Domain.Entities.Managment.Team>

@{
    Layout = "_AdminLayout";
}


@section Styles{
    <link rel="stylesheet" href="~/css/pages/show-teams.min.css" />
}


<section class="card shadow-sm ">

    @if (Model.Any())
    {
        <div class="d-flex align-items-start align-items-sm-center justify-content-between mb-2 flex-column flex-sm-row">
            @if (Model.ElementAt(0).Users.Count() > 1)
            {
            <h3 class="text-info">
                لیست تیم های مسابقه
            </h3>
            }
            else
            {
            <h3 class="text-info">
                لیست افراد مسابقه
            </h3>
            }
            <a class="btn btn-info" asp-action="printExcel" asp-route-matchId="@Model.First().MatchId.ToString()">چاپ</a>

        </div>
        <hr />
        <div class="team">
            <ul class="team-list" style="cursor:pointer;">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    Model.ElementAt(i).Users.ToList().OrderByDescending(u => u.Leader);
                    String title = Model.ElementAt(i).Users.Count() > 1 ? "تیم" : "نفر";
                    <li class="team-list-item">
                        <a style="display:block;width:100%;height:100%;" asp-action="TeamInfo" asp-route-teamId="@Model.ElementAt(i).Id">
                            <h3 class="team-list-item-header text-dark">@title @(i + 1)</h3>

                            @foreach (var person in Model.ElementAt(i).Users)
                            {
                                <p class="team-list-item-person">

                                    @String.Concat(person.User.Name , " " , person.User.Family)
                                    @if (person.Leader && Model.ElementAt(i).Users.Count() > 1)
                                    {
                                        <span class="me-1" style="font-size:13px;">(نماینده)</span>
                                    }
                                </p>

                            }
                        </a>
                        <div style="display:flex;justify-content:center;">
                             <button class="mx-auto btn btn-danger" type="button" onclick="Delete('/Matches/Match/RemoveTeam/@Model.ElementAt(i).Id' , 'تیم')">
                                 حذف <i class="fa fa-trash"></i>
                                 </button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <h4 class="text-danger p-5 text-center">هیچ کس در این مسابقه شرکت نکرده است</h4>
    }
</section>


@section Scripts{
    <script src="~/js/utility/removeAlert.js"></script>
}