@using Competitions.Domain.Entities
@using Competitions.Web.Utilities;
@model Competitions.Domain.Dtos.Notifications.UpdateNotificationDto

@{
    Layout = "_AdminLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/pages/place.css" />
    <style>
        #filebtn {
            border: dotted 1px #006ab1;
            color: #006ab1;
            background-color: #e7f5ff;
        }
    </style>
}


<form method="post" enctype="multipart/form-data">

    <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
        <h3 class="mb-4 mb-lg-0">ویرایش اطلاعیه</h3>
    </div>
    <section class="card shadow-sm ">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label">عنوان:</label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">شرح:</label>
            <textarea class="form-control summernote" asp-for="Description" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="mb-3">
            <input asp-for="NewImages" accept="image/*,application/pdf" multiple type="file" onchange="$('#filebtn').html(this.value);" id="uploadbox" hidden />
            <button type="button" id="filebtn" onclick="$('#uploadbox').click()" class="form-control">انتخاب فایل</button>
        </div>

        <div>
            @if (Model.CurrentImages != null && Model.CurrentImages.Any(u => !u.Name.IsPDF()))
            {
                <h5>عکس های فعلی</h5>
                <ul class="images-list mb-5">
                    @foreach (var img in Model.CurrentImages.Where(u => !u.Name.IsPDF()))
                    {
                        <li class="images-item" style="background-image:url('@StaticEntitiesDetails.NotificationPath@img.Name');">
                            <div class="images-item-content">
                                <a asp-action="DownloadImage" asp-route-id="@img.Id">
                                    <i class="fa fa-download text-primary"></i>
                                </a>
                                <i style="cursor:pointer;" onclick="Delete('/Notifications/Notification/RemoveImage/@img.Id' , 'عکس')" class="fa fa-trash-alt text-danger"></i>
                            </div>
                        </li>

                    }
                </ul>
            }
            @if (Model.CurrentImages != null && Model.CurrentImages.Any(u => u.Name.IsPDF()))
            {
                <h5>مستندات فعلی</h5>
                <ul class="images-list">
                    @foreach (var file in Model.CurrentImages.Where(u => u.Name.IsPDF()))
                    {
                        <li class="images-item" style="background-image:url('/images/pdf.png');width:60px;aspect-ratio:1;">
                            <div class="images-item-content">

                                <a asp-action="DownloadImage" asp-route-id="@file.Id">
                                    <i class="fa fa-download text-primary" aria-hidden="true"></i>
                                </a>
                                <i style="cursor:pointer;" onclick="Delete('/Notifications/Notification/RemoveImage/@file.Id' , 'مستند')" class="fa fa-trash-alt text-danger"></i>
                            </div>
                        </li>

                    }
                </ul>
            }
        </div>


    </section>

    <div class="mt-3 text-center d-flex justify-content-center align-items-center">
        <button class="btn btn--submit mx-3 px-3">
            ثبت
        </button>
        <button type="button" onclick="history.back()" class="btn btn-secondary d-flex align-items-center">
            <i class="fas fa-reply my-1 mx-2"></i>
        </button>
    </div>

</form>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
    </script>
}