@model Competitions.Domain.Entities.Managment.Notification

@{
    Layout = "_AdminLayout";
}


<div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
    <h3 class="mb-4 mb-lg-0">مشاهده اطلاعیه</h3>
</div>
<section class="card shadow-sm ">
    <div class="row">
        <div class="mb-3 col-md-6">
            <label class="form-label">عنوان:</label>
            <input type="text" asp-for="Title" class="form-control" disabled>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

    </div>
    <div class="mb-3">
        <label class="form-label">شرح:</label>
        <textarea class="form-control summernote" asp-for="Description" rows="5"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

</section>

<div class="mt-3 text-center d-flex justify-content-center align-items-center">

    <button type="button" onclick="history.back()" class="btn btn-secondary d-flex align-items-center">
        <i class="fas fa-reply my-1 mx-2"></i>
    </button>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote('disable');
        });
    </script>
}